<form method="post" action="/new">
    <div>
        <label for="name">NAME : </label>
        <input type="text" id="name" name="name" placeholder="Enter your name.." required>
    </div>
    <div>
        <label for="message"></label>
        <textarea name="message" id="message" placeholder="Write the message here..."> </textarea>
    </div>
    <button type="submit">Send Message</button>
</form>